body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Beige background */
  color: #4f4f4f; /* Dark gray text */
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  color: #4f4f4f; /* Dark gray text */
}

a {
  text-decoration: none;
}

h2 {
  font-size: 32px;
}
